*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
  /* height: 50em; */
  width: 80rem;
}
.card {
  height: 30rem;
  width: 30rem;
  margin: 20px;
  outline: 2px solid black;
}
