*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
  /* height: 50em; */
  width: 80rem;
}
.card {
  height: 30rem;
  width: 30rem;
  margin: 20px;
  outline: 2px solid black;
}
.progress-bar {
  display: grid;
  place-items: center;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ddd;
  height: 30px;
  width: 400px;
  border-radius: 20px;
}
.progress-bar-done {
  font-weight: bolder;
  font-weight: bolder;
  color: #fff;
  height: 100%;
  background: linear-gradient(to left, rgb(253, 2, 140), rgb(240, 199, 230));
  border-radius: 20px;
  display: grid;
  place-items: center;
  width: 0;
  box-shadow: 0 0 3px -5px rgb(253, 2, 140), 0 3px 150px rgb(255, 0, 140);
  transition: width 0.5s ease;
}
