*,
html {
  box-sizing: border-box;
}
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  color: #232a31;
}
.blog-name {
}
.headline {
}
/* Remove the click behavior on the dropdown */
.dropdown-toggle::after {
  display: none;
}

/* Add hover behavior for the dropdown */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Optional: adjust as needed */
}

.nav-item.dropdown:hover .nav-link {
  color: #000; /* Optional: adjust as needed */
}
button {
  background: url("./search.svg") center no-repeat;

  filter: invert();
}
.horizontal-card {
  display: flex;
  flex-direction: row;
}
.blog-pic {
  border-radius: 8px;
}
