:root {
  --shadow-color: 355deg 55% 58%;
  /* --shadow-color: 321deg 58%, 67%; */
}
*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: url("/pink-fabric.png") center/cover no-repeat;
}
.container {
  position: relative;
  height: 40em;
  width: 60em;
  text-align: center;
  color: #dee5d4;
  background: url("/weights.jpg") center/contain no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
  /* https://www.geeksforgeeks.org/how-to-place-text-on-image-using-html-and-css/ */
  /* box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34); */
  box-shadow: -0.1px 1px 1.1px hsl(var(--shadow-color) / 0.34),
    -0.5px 5.6px 6.3px -0.4px hsl(var(--shadow-color) / 0.34),
    -0.9px 10.4px 11.7px -0.7px hsl(var(--shadow-color) / 0.34),
    -1.5px 17px 19.2px -1.1px hsl(var(--shadow-color) / 0.34),
    -2.4px 27.2px 30.7px -1.4px hsl(var(--shadow-color) / 0.34),
    -3.8px 42.5px 48px -1.8px hsl(var(--shadow-color) / 0.34),
    -5.8px 64.7px 73.1px -2.1px hsl(var(--shadow-color) / 0.34),
    -8.5px 95.3px 107.6px -2.5px hsl(var(--shadow-color) / 0.34);
}
.card {
  font-size: 25px;
  font-weight: 900;
  padding: 10px;
}
div {
  color: hsl(321, 58%, 67%);
}
