*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  color: white;
  background: url("./Translucent-Man_Torso.jpg") center/cover no-repeat;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
header img {
  height: 5em;
}
.announcement {
  display: flex;
  flex-direction: column;
  justify-content: left;

  /* align-items: flex-end; */
  /* width: 100%; */
}
/* phone */
.container {
  background-color: rgb(248, 244, 244);
  height: 42rem;
  width: 20rem;
  border-radius: 35px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  /* groove and box shadow for roundish outer edge */
  box-shadow: 1px 1px 5px #555;
  /* this tilts phone  */
  /* transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(8deg) rotateY(355deg)
    rotateZ(-13deg) translateX(-5px) translateY(-4px) translateZ(-17px)
    skewX(0deg) skewY(0deg); */
  /* shadow around phone */
  /* filter: drop-shadow(40px 31px 15px #000000); */
}
/* this will kick out the bottom of the phone a bit */
.wrapper {
  /* perspective: 1474px;
  perspective-origin: 54% 192%; */
}
/* phone screen */
.card {
  background: url("./Translucent-Man_Torso.jpg") center/cover no-repeat;
  /* making the card flex box for stuff withing it */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* groove and box shadow for  sunken effect around edge of phone screen */
  border-style: groove;
  box-shadow: 1px 1px 5px #555 inset;
  /* can add an image here  */
  /* background: url("./estes.jpg"); */
  height: 45rem;
  width: 18rem;
  border-radius: 25px;
  margin-bottom: 1em;
  position: relative;
}
/* phone nav */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 48px;
  width: 256px;
  margin-top: 1em;
}
.phone-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 250px;

  color: white;
}
.phone-main p {
  border-radius: 5px;
  background: linear-gradient(
    135deg,
    rgba(6, 147, 227, 0.5) 0%,
    rgba(155, 81, 224, 0.3) 100%
  );
}
.detail-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  margin: 5px;
}
.detail-row img {
  height: 50px;
  width: 50px;
}
.line {
  /* push to bottom of the card  */
  position: absolute;
  bottom: 0;
}
.circle-small {
  margin-bottom: 5px;
}
