*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
}
.table-wrapper {
  overflow: auto;
  width: 100%;
}

table {
  border: 1px solid #dededf;
  height: 90%;
  width: 90%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
  margin-left: 5%;
}

caption {
  caption-side: top;
  text-align: left;
}

th {
  border: 1px solid #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 5px;
}

td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}
.perform {
  width: 20%;
}
.prod-widget {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: row;
  justify-content: left;
}
.sales-widget {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: column;
  justify-content: left;
}
.avg-perform-widget {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}
.in-stock-widget {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: row;
  justify-content: left;
}
.prod-price-widget {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: row;
  justify-content: left;
}
