*,
html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15em;
  justify-content: space-between;
  list-style-type: none;
}
.navbar ul li {
  height: 40px;
  width: 80px;
  text-align: center;
  background-color: rgb(242, 237, 237);
  padding-top: 10px;
  border-radius: 15px;
}
.navbar ul li:hover {
  background-color: rgb(183, 180, 180);
}
a {
  text-decoration: none;
}
.container {
  height: 30em;
  width: 30em;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card img {
  height: 25em;
  width: 25em;
  border-radius: 5px;
}
.footer ul {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  list-style-type: none;
}
