* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50rem;
  border-radius: 5px;
  border: 2px solid black;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 50rem;
  height: 5rem;
}
.hidden {
  display: none;
}
