/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
  margin-top: 0.5em;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
.card {
  text-align: center;
}
.circle {
  height: 20em;
  width: 20em;
  border-radius: 50%;
  box-shadow: 3.4px 6.7px 6.7px hsl(0deg 0% 0% / 0.48);
  text-align: center;
}
.reading {
  padding-top: 90px;
  font-size: 80px;
}
