*,
html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80rem;
  width: 60rem;
}
.text-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.card {
  position: absolute;
  top: 20rem;
  height: 20rem;
  width: 40rem;
  background: rgb(220, 213, 213);
  border-radius: 5px;
  box-shadow: 1.4px 2.7px 2.7px hsl(0deg 0% 0% / 0.46);
  filter: drop-shadow(-2px 5px 100px #000000);
  font-size: 25px;
}
h2 {
  margin-left: 5rem;
  margin-bottom: 5rem;
}
input {
  margin-left: 8rem;
}
