*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.row-1 {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10%;
  width: 100%;
  margin-bottom: 100px;
}
.row-2 {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}
.tab {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 10px 15px;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-right: 2px;
  position: relative;
  top: 5px;
}
.tab:hover {
  background-color: #e0e0e0;
}
.active {
  background-color: white;
  border-bottom: 2px solid white;
  top: 0;
  z-index: 1;
}

table {
  /* share border  */
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 20px;
}
thead {
  background: rgb(242, 242, 243);
}
th,
td {
  height: 90px;
  border: 1px solid black;
}
tbody > tr:nth-of-type(even) {
  background: rgb(242, 242, 243);
}
#chart1,
#chart2 {
}
svg {
  margin-left: 30px;
}
