*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.row-1 {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10%;
  width: 100%;
  margin-bottom: 100px;
}
.row-2 {
  display: flex;
  flex-direction: row;
  align-items: start;
  /* gap: 10%; */
  width: 100%;
  margin-bottom: 30px;
}
.tabs {
  padding: 2rem 0 0 0;
  margin: 0 0.5rem;
  overflow-x: auto;
  /* width: calc(100% - 1rem); */
  white-space: nowrap;
}

table {
  /* share border  */
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 20px;
}
thead {
  background: rgb(242, 242, 243);
}
th,
td {
  height: 90px;
  border: 1px solid black;
}
tbody > tr:nth-of-type(even) {
  background: rgb(242, 242, 243);
}
#chart1,
#chart2 {
}
svg {
  margin-left: 30px;
}
