*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  color: orange;
  gap: 12em;
}
.header a {
  height: 3em;
  width: 8em;
  background-color: rgb(208, 255, 0);
}
.landing-branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15em;
}
.storys {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
/* .story {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  background-color: aquamarine;
} */
/* https://stackoverflow.com/questions/73184993/how-to-make-a-table-display-rows-in-two-columns */
tbody {
  display: flex;
  flex-wrap: wrap;
}

/* Borders */
tr {
  margin: 0 0 -1px -1px;
  border: 1px solid black;
}
tbody:not(:empty) {
  margin: 0 0 1px 1px;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  height: 50px;
  background-color: red;
  gap: 12em;
}
