*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("./images/sydney-rae.jpg");
}
.container {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  color: orange;
  gap: 12em;
}
.header a {
  height: 3em;
  width: 8em;
  background-color: rgb(208, 255, 0);
}
.landing-branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15em;
}

/* https://stackoverflow.com/questions/73184993/how-to-make-a-table-display-rows-in-two-columns */
tbody {
  display: flex;
  flex-wrap: wrap;
}

/* Borders */
tr {
  margin: 0 0 -1px -1px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
tbody:not(:empty) {
  margin: 0 0 1px 1px;
}
td,
img {
  border-radius: 5px;
  margin-right: 20px;
}
.headline {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
}
.date {
  border-top: 1px solid rgb(232, 230, 230);
  border-bottom: 1px solid rgb(232, 230, 230);
  font-style: oblique;
}
.article-preview {
  margin-top: 10px;
}
.more {
  margin-top: 10px;
  font-style: oblique;
}
a {
  text-decoration: none;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  height: 50px;
  margin-top: 50px;
  background-color: red;
  gap: 8em;
  margin: 1em;
  padding-right: 1em;
}
