*,
html {
  box-sizing: border-box;
}
body {
  background: url("./sunrise.jpg") top/cover no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
}
.card {
  height: 33em;
  width: 100%;
  color: white;
}
