*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url("./sunrise.jpg") top/cover no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
}
.card {
  height: 33em;
  width: 100%;
  color: white;
  margin: 50px;
}
.title {
}
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: 8em;
  letter-spacing: 0.2em;
  margin-left: 30px;
}
.sign-up-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
  background-color: blue;
}
input[type="text"] {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #3cbc8d;
  color: white;
  border-radius: 5px;
}
