*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url("./sunrise.jpg") top/cover no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
}
.card {
  height: 33em;
  width: 100%;
  color: white;
  margin: 50px;
}
.title {
}
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: 8em;
  letter-spacing: 0.2em;
  margin-left: 30px;
}
.sign-up-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* justify-content: flex-end; */
  align-items: column;
  align-content: center;
  background-color: blue;
}
input[type="email"] {
  width: 9%;
  height: 9%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 8px;

  background-color: #3cbc8d;
  color: white;
  border-radius: 5px;
}
h4 {
  padding-right: 20px;
}
button {
  margin-top: 12px;
  margin-right: 50px;
}
