*,
html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
.avatar {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background: url("./snowflake2.jpg") center / cover no-repeat;
  position: relative;
}
