*,
html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
.avatar {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background: url("./snowflake2.jpg") center / cover no-repeat;
  position: relative;
}
/* psudo element can before or after this style will be for both   */
.avatar::before,
.avatar::after {
  position: absolute;

  /*  position the tooltip */
  top: -0.25rem;
  /* positions left edge at horizontal midpoint of the .avatar container. */
  left: 50%;
  /* left edge is at the center, but its width extends to the right. */
  /* moves back to the left by half of its own width to center horizontally  */
  /* percentage refers to the element's own size, not the available space within the parent container. */
  /* transform: translateX(-50%) translateY(-100%); */
  transform: translate(-50%, -100%);
}
/* just the before  */
.avatar::before {
  content: attr(data-tooltip);
  /* text will determine size of div but add some padding */
  padding: 0.5rem;
  background-color: red;
}

/* psudo element can before or after   */
/* .avatar:hover::before {
  content: attr(data-tooltip);
 
} */
