*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  gap: 1em;
  background-color: red;
  width: 100%;
  height: 15em;
}
/* https://www.w3schools.com/css/css_tooltip.asp */

button {
  width: 8%;
  background-color: grey;
  /* background-image: url(./images/add-recipe.svg);
  background-size: cover;
  background-position: center; */
  /* position: relative; */
}

/* https://www.youtube.com/watch?v=ujlpzTyJp-M */
.tool-tip {
  position: relative;
}
.tool-tip::before,
.tool-tip::after {
  --scale: 0;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}
.tool-tip::before {
  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background-color: #333;
}
.tool-tip:hover::before {
  --scale: 1;
}

.container {
  background-color: orange;
  height: 40em;
  width: 100%;
}
footer {
  background-color: green;
  width: 100%;
  height: 10em;
}
