*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.breadcrumb {
  padding: 0 0.5rem;
  margin-top: 1em;
}
.breadcrumb ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 2em; */
  list-style: none;
}

/* .breadcrumb li:not(:first-child)::before {
  content: "→";
} */
li {
  margin: 0.5em;
  padding: 0.5em;
  border: 3px solid black;
  outline: 3px solid #ff0000;
  outline-offset: 3px;
  transform: skew(-20deg);
}
li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  font: 30px/1 sans-serif;
  /* UNSKEW */
  transform: skew(20deg);
}
/* https://stackoverflow.com/questions/40803277/skew-one-side-only-of-an-element */

.shape {
  background: #cddf2e;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  outline: 3px solid #ff0000;
  box-sizing: border-box;
  margin-top: 7px;
  height: 66px;
  padding: 13px 36px;
  position: relative;
  width: 200px;
}

.shape:after {
  background: #cddf2e;
  /* border-right: 3px solid black; */
  /* border-top: 3px solid black;
  border-bottom: 3px solid black; */
  content: "";
  height: 48px;
  /* padding-bottom: 1px; */
  padding-top: 10px;
  position: absolute;
  right: -13px;
  top: 0;

  transform: skew(-20deg);
  width: 23px;
}
