*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.breadcrumb {
  padding: 0 0.5rem;
  margin-top: 1em;
}
.breadcrumb ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 2em; */
  list-style: none;
}

.breadcrumb li:not(:first-child)::before {
  content: "→";
}
li {
  margin: 0.5em;
  padding: 0.5em;
  border: 3px solid black;
  outline: 3px solid #ff0000;
  outline-offset: 3px;
  transform: skew(-20deg);
}
