@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card {
  border: 10px bold;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
/* items to be 100% width, via flex-basis */
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
.header {
  background: red;
}
.main {
  text-align: left;
  background: blue;
}
.footer {
  background-color: seagreen;
}

.group {
  font-size: 20em;
}
.group-text {
  font-size: 2em;
  border-bottom: 1em solid black;
}
.aside-1 {
  background: gold;
  width: 2em;
}
.group-text-narrow {
  width: 2em;
  background-color: red;
  /* vertically stack letters */
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 2em;
}
.aside-2 {
  background: hotpink;
}

.main {
  flex: 3 0px;
}
.aside-1 {
  order: 1;
}
.main {
  order: 2;
}
.aside-2 {
  order: 3;
}
.footer {
  order: 4;
}
.aside {
  flex: 1 0 0;
}
