@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #637fbe;
}
.boarder {
  height: 600px;
  width: 350px;
  border: solid black;
  background-color: aliceblue;
}
.container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.card {
  height: 300px;
  width: 300px;
}
.card-left {
  /* background-color: yellow; */
  /* vertically stack letters */
  writing-mode: vertical-lr;
  text-orientation: upright;
  height: 600px;
  width: 30px;
  /* border: solid black; */
  font-size: 30px;
}
.card-r-top {
  text-align: center;
  /* background-color: green; */
  /* border: solid black; */
  margin-left: 50px;
  width: 200px;
}
.card-r-bottom {
  /* background-color: blue; */
  /* border: solid black; */
  margin-right: 30px;
}
.info {
  font-size: 12px;
  text-align: center;
  padding: 10px;
  margin-right: 40px;
}
.large {
  font-size: 80px;
}
.stack {
  font-size: 40px;
  /* border-bottom: 10px solid black; */
  padding-bottom: 5px;
  line-height: 35px;
}
img {
  height: 90px;
  width: 90px;
}
