@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.card {
  height: 100px;
  width: 100px;
}
.card-left {
  background-color: yellow;
  height: 200px;
  width: 20px;
  border: solid black;
}
.card-r-top {
  background-color: green;
  border: solid black;
}
.card-r-bottom {
  background-color: blue;
  border: solid black;
}
