*,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.container {
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 33em;
  width: 33em;
  color: blue;
}
.divDate {
  width: 22em;
  text-align: center;
  margin: 3em;
  border-bottom: 4px solid blue;
  padding-bottom: 8px;
}
.sale-percent {
  /* 50% */
  font-size: 12em;
}
.text-small {
  /* % off */
  margin-top: 5em;
}
.text-med {
  /* entire store large spaces between */
  font-size: large;
  font-weight: 400;
  letter-spacing: 0.6rem;
  margin-bottom: 3em;
}
.mid-wrap {
  display: flex;
  flex-direction: row;
}

button {
  background-color: blue;
  color: white;
  height: 50px;
  width: 180px;
  border-radius: 25px;
  border: none;
  /* shadow same as care */
}
