*,
html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.logo {
}
svg {
  height: 10em;
  width: 10em;
}

#start {
  transition: opacity 0.5s ease; /* Smooth opacity transitions */
}
#up,
#start-up {
  transition: opacity 0.5s ease; /* Smooth opacity transitions */
  opacity: 0; /* Initially hidden */
  display: none; /* Initially not shown */
}
