*,
html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.logo {
}
img {
  height: 10em;
  width: 10em;
}
#start,
#up,
#start-up {
  transition: fill 2s ease;
}
