*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  background: url("./mt-bike.jpg") center/cover no-repeat;
  color: #770016;
}
.container {
}
