body {
  font-family: Arial, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.mySlides img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.container {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 12px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%); /* This centers it horizontally */
  z-index: 10;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease; /* Smooth background transition */
}

.numbertext:hover {
  background-color: rgba(0, 0, 0, 1); /* Slightly darker on hover */
}
/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.thumb {
  opacity: 0.6;
  cursor: pointer;
}

.active,
.thumb:hover {
  opacity: 1;
}
