*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #69bbf3;
}
.container {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/mask-image */
}
.card {
  /* https://www.geeksforgeeks.org/how-to-apply-gradient-as-the-mask-using-css/ */
}
#myVideo {
  height: 600px;
  width: 500px;
  margin-left: 60px;
  margin-bottom: 460px;
}
.image-div {
  background: url("./icons8-owl-600.png");

  height: 600px;
  width: 500px;

  /* color: white; */
  mask: url("./icons8-owl-600.png");
  /* source | slice | width | outset | repeat | mode */
  mask-border: url("./icons8-owl-600.png") 25 / 35px / 12px space alpha;
}
