*,
html {
  box-sizing: border-box;
}
.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 30px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.card-right,
.card-left,
.card-middle {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 10%;
  border: 2px solid green;
}

.col {
  height: 50px;
  width: 90%;
}
.col-middle {
  font-size: 20px;
  border: 2px solid blue;
}
.time {
  text-align: center;
}
.text {
  height: 10%;
  border: 2px solid red;
}
.class {
  border: 2px solid black;
}
.location {
  border: 2px solid black;
}
