*,
html {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.card-right,
.card-left,
.card-middle {
  display: flex;
  flex-direction: row;
  width: 90%;
}
.row {
  height: 20px;
  width: 95px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.col {
  height: 30px;
  width: 300px;
  border: 3px solid red;
}
.col-middle {
  font-size: 20px;
}
