*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh;
  overflow: hidden; */
}
/* question what this is doing  */
.card {
  position: relative;
  padding: 1rem 1rem 3rem;
  min-height: calc(100vh - 4rem);
  background-color: blue;
}
.hidden {
  display: none;
}
.pagination-container {
  width: calc(100%-2rem);
  background-color: red;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
}
.pagination-number,
.pagination-button {
  font-family: 1.1rem;

  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}
/* hover effect  */
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}
.pagination-number.active {
  color: #fff;
  background: #0085b6;
}
