*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  line-height: 1.7;
  font-size: 1.1rem;
  color: #27253d;
  background: #e6f3f8;
}

.container {
  position: relative;
  padding: 1rem 1rem 3rem;
  height: 50rem;
  width: 40rem;
}

.hidden {
  display: none;
}

.nav-container {
  width: 35rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
}

.nav-number,
.nav-button {
  font-size: 1.1rem;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
  filter: url("#drop-shadow");
}

.nav-number:hover,
/* :not(.disabled) ensures that the rule only applies to .nav-button elements that do not have the .disabled class */
.nav-button:not(.disabled):hover {
  background: #fff;
}

.nav-number.active {
  color: #fff;
  background: #067fab;
}
.square {
  position: absolute;
  /* background: #fc5667; */
  /* left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px; */
  /* filter: url("#drop-shadow"); */
}
