*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  line-height: 1.7;
  font-size: 1.1rem;
  color: #27253d;
  background: #e6f3f8;
}

.container {
  position: relative;
  padding: 1rem 1rem 3rem;
  height: 50rem;
  width: 40rem;
}

.hidden {
  display: none;
}

.nav-container {
  width: 35rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
}

.nav-number,
.nav-button {
  font-size: 1.1rem;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
  filter: url("#goo");
}

.nav-number:hover,
/* :not(.disabled) ensures that the rule only applies to .nav-button elements that do not have the .disabled class */
.nav-button:not(.disabled):hover {
  background: #fff;
}

.nav-number.active {
  color: #fff;
  background: #067fab;
}

.blobs {
  /* filter: url("#goo"); */
  position: absolute;
  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
}

@-webkit-keyframes blob-left-top-anim {
  0% {
    transform: scale(1.1) translate(0, 0);
  }
  33% {
    transform: scale(0.9) translate(-65px, 0);
  }
  62% {
    transform: scale(0.7) translate(-65px, -65px);
  }
  94% {
    transform: scale(1.1) translate(0, 0);
  }
}

@keyframes blob-left-top-anim {
  0% {
    transform: scale(1.1) translate(0, 0);
  }
  33% {
    transform: scale(0.9) translate(-65px, 0);
  }
  62% {
    transform: scale(0.7) translate(-65px, -65px);
  }
  94% {
    transform: scale(1.1) translate(0, 0);
  }
}
@-webkit-keyframes blob-right-top-anim {
  0% {
    transform: scale(1.1) translate(0, 0);
  }
  33% {
    transform: scale(0.9) translate(65px, 0);
  }
  64% {
    transform: scale(0.7) translate(65px, -65px);
  }
  96% {
    transform: scale(1.1) translate(0, 0);
  }
}
@keyframes blob-right-top-anim {
  0% {
    transform: scale(1.1) translate(0, 0);
  }
  33% {
    transform: scale(0.9) translate(65px, 0);
  }
  64% {
    transform: scale(0.7) translate(65px, -65px);
  }
  96% {
    transform: scale(1.1) translate(0, 0);
  }
}
@-webkit-keyframes blob-left-bottom-anim {
  0% {
    transform: scale(1.1) translate(0, 0);
  }
  33% {
    transform: scale(0.9) translate(-65px, 0);
  }
  66% {
    transform: scale(0.7) translate(-65px, 65px);
  }
  98% {
    transform: scale(1.1) translate(0, 0);
  }
}
@keyframes blob-left-bottom-anim {
  0% {
    transform: scale(1.1) translate(0, 0);
  }
  33% {
    transform: scale(0.9) translate(-65px, 0);
  }
  66% {
    transform: scale(0.7) translate(-65px, 65px);
  }
  98% {
    transform: scale(1.1) translate(0, 0);
  }
}
@-webkit-keyframes blob-right-bottom-anim {
  0% {
    transform: scale(1.1) translate(0, 0);
  }
  33% {
    transform: scale(0.9) translate(65px, 0);
  }
  68% {
    transform: scale(0.7) translate(65px, 65px);
  }
  100% {
    transform: scale(1.1) translate(0, 0);
  }
}
@keyframes blob-right-bottom-anim {
  0% {
    transform: scale(1.1) translate(0, 0);
  }
  33% {
    transform: scale(0.9) translate(65px, 0);
  }
  68% {
    transform: scale(0.7) translate(65px, 65px);
  }
  100% {
    transform: scale(1.1) translate(0, 0);
  }
}
.blob {
  position: absolute;
  background: #e97b7a;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 4s
    infinite;
  animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;
}
.blob:nth-child(2) {
  -webkit-animation-name: blob-right-top-anim;
  animation-name: blob-right-top-anim;
}
.blob:nth-child(3) {
  -webkit-animation-name: blob-left-bottom-anim;
  animation-name: blob-left-bottom-anim;
}
.blob:nth-child(4) {
  -webkit-animation-name: blob-right-bottom-anim;
  animation-name: blob-right-bottom-anim;
}
