/* font family non serif */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  /* color gradient top lighter than bottom */
  /* rgb(155, 205, 206) to rgb(75, 171, 187) */
  background-image: url("./subscribe\ inspiration.jpg");
}
.container {
  /* background  4 rows #A3D5D6, #62C1D5,#5BB6C7, and #18373C */
  /* cloud color #E9E2D8  */
}
