body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(128, 0, 0);
  z-index: -1;
  opacity: 0.1;
}
.backdrop {
  position: absolute;
  z-index: 1; /* put .green-box above .dashed-box */
  background: lightgreen;
  width: 20%;
  left: 65%;
  top: -25px;
  height: 7em;
  /* opacity: 0.9; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40em;
  width: 30em;
}
.card {
  height: 50px;
  width: 50px;
  background-color: blue;
}
