@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #3c3c3c;
}
a:hover {
  text-decoration: none;
}
.containter {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.canvas {
  margin: 0 0 1rem 0;
  box-shadow: 8px 4px 10px -42px rgba(0, 0, 0, 0.031),
    64px 32px 80px -42px rgba(0, 0, 0, 0.07);
}
