*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  overflow: hidden;
}
.container {
  background-color: #f8f4f4;
  height: 42rem;
  width: 20rem;
  border-radius: 35px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  box-shadow: 1px 1px 5px #555;
  /* shadow around phone */
  /* transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(8deg) rotateY(355deg)
    rotateZ(-13deg) translateX(-5px) translateY(-4px) translateZ(-17px)
    skewX(0deg) skewY(0deg); */
  /* filter: drop-shadow(40px 31px 15px #000000); */
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: groove;
  box-shadow: 1px 1px 5px #555 inset;
  height: 45rem;
  width: 18rem;
  border-radius: 25px;
  /* mask-image: linear-gradient(to bottom, black 0%, transparent 100%); */
  /* mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent); */
}
.second-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 10px;
  width: 250px;
}
.description {
  width: 200px;
  height: 200px;
}
.picture {
  background: url("./salad.jpg") center/cover no-repeat;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 2px;
}
.circle {
  padding: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.circle-small {
  margin-bottom: 5px;
}
ul {
  /* look at music app */
  list-style-type: none;
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px;
  height: 75px;
  margin-right: 50px;
}
.last {
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}
.icon {
  height: 50px;
  width: 50px;
}
.salad {
  background: url("./salad.jpg") center/cover no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 2px;
}
.soup {
  background: url("./soup.jpg") center/cover no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 2px;
}
.pita {
  background: url("./pita.jpg") center/cover no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 2px;
}
.fish {
  background: url("./fish.jpg") center/cover no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 2px;
}
.taco {
  background: url("./taco.jpg") center/cover no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 2px;
}
.burger {
  background: url("./burger.jpg") center/cover no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 2px;
}
.item-title {
  width: 150px;
  border-bottom: solid 1px rgb(211, 209, 209);
}
.item-more-info {
  padding: 5px;
}
