*,
html {
  box-sizing: border-box;
  background-color: hsl(192, 88%, 90%);
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
form {
  height: 30em;
  width: 30em;
  background-color: hsl(192, 88%, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.25);
}

input[type="text"] {
  background: hsl(192, 88%, 90%) url("./flatware.svg") 97% 50% no-repeat;
  height: 106px;
  width: 260px;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 1.1px 2.2px 2.2px hsl(0deg 0% 0% / 0.25);
}
