@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --overlay-color: #03a9f4;
}
.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
  /* transition for opening the meue on click */
  transition: 0.5s;
}
.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* if show case is active move the menu over  */
.showcase.active {
  right: 300px;
}
.logo {
  text-transform: uppercase;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url("https://i.ibb.co/HrfVRcx/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}
.toggle.active {
  background: url("https://i.ibb.co/rt3HybH/close.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}
.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* this is an alternaive to using rgba
  makes the video "pop" */
  background: var(--overlay-color);
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  z-index: 10;
}
.text h2 {
  /*  multple the parent elements text size by 5 */
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
}
.text h3 {
  /*  multple the parent elements text size by 5 */
  font-size: 4em;
  font-weight: 800;
  line-height: 1em;
}
.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  letter-spacing: 2px;
  /* transistion the letter spacing on hover so that it is more polished */
  transition: 0.2s;
}
/*  set letter spacing a little wider with hover */
.text a:hover {
  letter-spacing: 6px;
}
.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  /* make display white */
  filter: invert(1);
  /* space them apart */
  margin-right: 20px;
  /* scale down size of icons */
  transform: scale(0.5);
  /* transiton the hover aggect  */
  transition: 0.5s;
}
.social li a:hover {
  /* scale and move up a little */
  transform: scale(0.5) translateY(-15px);
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul {
  position: relative;
  list-style-type: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover {
  color: var(--overlay-color);
}
/* text resize for small screens  */
@media (max-width: 798px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}
