@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* css var */
:root {
  /* --overlay-color: #03a9f4; */
  --overlay-color: #57bb86;
}
.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000204;
  color: #fff;
  z-index: 2;
  /* transition the on click menu open */
  transition: 0.5s;
}
.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* this is an alternaive to using rgba
  makes the video "pop" */
  background: var(--overlay-color);
  mix-blend-mode: overlay;
}
