*,
html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
      rgba(249, 247, 249, 0.9),
      rgba(242, 221, 244, 0.7)
    ),
    url(./45-degree-fabric-light.png);
  /* background-color: rgb(245, 203, 245); */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  height: 40em;
  width: 40em;
  text-align: center;
  padding: 2em;
}
.size {
  text-align: left;
  display: flex;
  align-items: left;
  margin-left: 30px;
}
.color-pick {
  display: flex;

  align-items: left;
}
svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
