*,
html {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: url("./nasa.jpg") center / cover no-repeat;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.image-div,
img {
  height: 20em;
  width: 20em;
}
svg {
  fill: "#0B2F9F";
}
path {
  fill: "#0B2F9F";
}
