html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.carousel {
  width: 90vw;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* use this property to hide the scrollbar on firefox */
  scrollbar-width: none;
}
/*  use this pseudo class to hide the scrollbar on chrome */
.carousel::-webkit-scrollbar {
  display: none;
}
.item {
  flex-basis: 20%;
  flex-shrink: 0;
  padding: 1rem;
  height: 100px;
  width: 100px;
}
.left,
.right {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: brown;
  font-size: 5rem;
  overflow: hidden;
  z-index: 100;
}
img {
  width: 100%;
}
