@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");
.libre-bodoni {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  background-color: rgb(248, 244, 244);
  height: 45rem;
  width: 23rem;
  border-radius: 35px;
}
div {
  height: 5rem;
  width: 18rem;
  margin: 2rem;
  padding: 1rem;
  border-radius: 20px;
}

.message-from {
  background-color: rgb(91, 176, 91);
}
.message-to {
  background-color: rgb(179, 176, 176);
}
