body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f3f3;
}

/* navbar is sticky add scrolls away */
.navar.is-fixed {
  position: fixed;
  /* Must have a fixed height to offset the main content */
  height: 60px;
  top: 0;
  width: 100%;
}

.navbar.is-sticky {
  position: sticky;
  top: 0;
}

/* Not important */
.navbar {
  background-color: #fff;
  padding: 22px 0;
  border-bottom: 1px solid #edf2f7;
  display: flex;
  align-items: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px;
}

.psst {
  background-color: #2a4365;
  color: #fff;
  text-align: center;
  padding: 16px;
}
